<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>List of Tickets</title>
</head>

<body>
<!--<br class="container"> -->
<div class="col-md-12" style="background-color:cornflowerblue;  display: inline-block;">
    <div class="row">

        <h2 style="color: aliceblue;">Ticket Tracker Application</h2>


        <ul class="nav nav-tabs justify-content-begining">
            <li class="nav-item">
                <a class="nav-link" href="/admin/tickets" style="color: aliceblue;">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/tickets/newTicket" style="color: aliceblue;">New Ticket</a>
            </li>
        </ul>

    </div>
</div>

<h3>List of Tickets</h3>

<div>
    <form th:action="@{/admin/search}" method="GET" onsubmit="return validateSearchBar()">
        <input type="text" name="title" th:value="*{title}" placeholder="Find by title" size="50">
        <button type="submit" class="btn btn-info">Search</button>
    </form>
</div>

<script th:inline="javascript">
    function validateSearchBar() {
        var searchTerm = document.querySelector('input[name="title"]').value;
        if (searchTerm.trim() === '') {
            alert('Please enter a ticket you want to search.');
            return false;
        }
        return true;
    }
</script>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Ticket Title</th>
        <th>Ticket Short Description</th>
        <th>Ticket Created on</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- For loop in Thymeleaf -->
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.title}"></td>
        <td th:text="${ticket.description}"></td>
        <td th:text="${ticket.date}"></td>
        <td>
            <div class="row">
                <div class="col-small">
                    <!-- Add "Edit" button/link -->
                    <form action="#" th:action="@{/admin/tickets/edit}" method="POST">
                        <input type="hidden" name="id" th:value="${ticket.id}" />
                        <button type="submit" class="btn btn-primary btn-sm ml-3 mr-1">Edit</button>
                    </form>
                </div>
                <div class="col-small">
                    <!-- Add "delete" button/link -->
                    <form action="#" th:action="@{/admin/delete}" method="POST">
                        <input type="hidden" name="id" th:value="${ticket.id}" />
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this ticket?')">Delete</button>
                    </form>
                </div>
                <div class="col-small">
                    <!-- Add "View" button/link -->
                    <form action="#" th:action="@{/admin/tickets/view}" method="GET">
                        <input type="hidden" name="id" th:value="${ticket.id}" />
                        <button type="submit" class="btn btn-info btn-sm ml-1 mr-1">View</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>

</body>
</html>
